/* common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", serif;
}

:root {
  --primary-color: #ff5400;
  --black-color: #131318;
  --black-50-color: rgba(19, 19, 24, 0.5);
  --offwhite-color: #f8f9fa;
  --white-color: #ffffff;
}

.section-text {
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--black-color);
}

.section-description {
  font-size: 1rem;
  color: var(--black-color);
  opacity: 0.7;
  line-height: 1.5;
  margin-top: 20px;
  width: 700px;
}

/* header section */
header {
  margin: 50px 135px;
}
/* navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  gap: 15px;
  align-items: center;
}

.logo:hover .logo-image {
  scale: 0.9;
}

.logo-image {
  width: 50px;
  transition: all 0.2s ease;
}

.brand-name {
  font-size: 2.25rem;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-links a {
  text-decoration: none;
  color: var(--black-color);
  font-size: 1rem;
  font-weight: 500;
  margin-right: 30px;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: var(--primary-color);
}

/* banner section */
.banner-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-image: url("./resources/images/banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 80vh;
  margin-top: 50px;
}

.banner-title {
  color: var(--white-color);
  font-size: 4rem;
  text-align: center;
  padding-bottom: 30px;
}

.banner-description {
  color: var(--white-color);
  max-width: 800px;
  text-align: center;
  font-size: 1.025rem;
  line-height: 1.5;
  letter-spacing: 1.25px;
}

.find-now-bar {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 30px;
  align-items: center;
}

.where-sec input {
  border: none;
  outline: none;
  padding-left: 20px;
  font-size: 1rem;
  color: var(--black-50-color);
  width: 175px;
  min-height: 3.125rem;
  border-radius: 0.5rem;
}

.where-sec input::placeholder {
  color: var(--black-50-color);
}

.search-field {
  background: var(--offwhite-color);
  width: 175px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 8px;
}

.search-field span {
  font-size: 1rem;
  color: var(--black-50-color);
}

.down-arrow-icon {
  width: 24px;
}

.basic-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 10px 40px;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  border: 0;
  border-radius: 0.5rem;
  min-height: 3.125rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.basic-btn:hover {
  background-color: #b83d00;
}

.basic-btn img {
  width: 1.5rem;
}

/* main section related styles */
main {
  margin: 50px 135px;
}

/* our popular tours section related styles */
.our-popular-tours-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.our-popular-tours-title {
  margin-bottom: 30px;
}

.our-popular-tours-section-column {
  max-width: 50%;
}

.our-popular-tours-section-text p,
li {
  font-size: 1rem;
  color: var(--black-color);
  opacity: 0.7;
  line-height: 1.8;
}

.our-popular-tours-section-text ul {
  margin: 30px 0 30px 30px;
}

.read-more-btn {
  margin-top: 30px;
}

/* choose your destination section related styles */
.choose-your-destination {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
}

.image-row {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  width: 100%;
}

.image-title {
  position: relative;
  transform: translate(50%, -50%);
}

.gallery {
  margin-top: 50px;
}
