/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", serif;
}

:root {
    --primary-color: #FF5400;
    --black-color:#131318;
    --black-50-color: rgba(19, 19, 24, 0.5);
    --offwhite-color: #f8f9fa;
}

/* header section */
header {
    margin: 50px 135px;
}
/* navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.logo-image {
    width: 50px;
}

.brand-name {
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-links a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1rem;
    font-weight: 500;
    padding-right: 30px;
}

/* banner section */
.banner-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('./resources/images/banner.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90vh;
}

.banner-title {
    color: var(--offwhite-color);
    font-size: 4rem;
    text-align: center;
    padding-bottom: 30px;
}

.banner-description {
    color: var(--offwhite-color);
    max-width: 800px;
    text-align: center;
    font-size: 1.025rem;
    line-height: 1.5;
    letter-spacing: 1.25px;
}
.search-field {
    background: var(--offwhite-color);
    width: 175px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 8px;
}

.search-field span {
    font-size: 1rem;
    color: var(--black-50-color);
}

.down-arrow-icon {
    width: 24px;
}
